## Starting with Pandas

### Pandas Series

In [3]:
import pandas as pd
import numpy as np

In [5]:
#creating a empty series
ser =pd.Series()
print(ser)

Series([], dtype: object)

In [8]:
#simple array
data = np.array(["g",'f','f','e','h'])
ser = pd.Series(data)

print(ser)

0    g
1    f
2    f
3    e
4    h
dtype: object

In [10]:
#creating using list
#a simple list
list = [23,56,73,735,255]
ser1= pd.Series(list)
print(ser1)

0     23
1     56
2     73
3    735
4    255
dtype: int64

In [15]:
# Passing dtype as a parameter to Series for an empty series to avoid DeprecationWarning
empty_series = pd.Series(dtype='float64')
print(empty_series)

Series([], dtype: float64)

In [16]:
# Same series but with different indices
number_series = pd.Series([22, 33,44, 55, 66],index=['a', 'b', 'c','d','e'],name='Number')
print(number_series)

a    22
b    33
c    44
d    55
e    66
Name: Number, dtype: int64

In [17]:
# Creating a same series using dictionary
number_dict={'a':22,'b':33,'c':44,'d':55,'e':66}
number_series=pd.Series(number_dict,name='Number')
print(number_series)

a    22
b    33
c    44
d    55
e    66
Name: Number, dtype: int64

In [25]:
# accessing items in series
print(number_series["a"])
print(number_series[0])

22
22

C:\Users\admin\AppData\Local\Temp\ipykernel_18284\2690500363.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(number_series[0])

In [26]:
# Create the pandas DataFrame
empty_df=pd.DataFrame(columns=['Column 1', 'Column 2', 'Column 3'])

# Print the output
print(empty_df)

Empty DataFrame
Columns: [Column 1, Column 2, Column 3]
Index: []

In [27]:

# Store the student data in dictionary
std_dict = { 'Name': ['Tom', 'Nick', 'Krish', 'Jack'], 'Age': [20, 21, 19, 18]}

# Create the pandas DataFrame
df = pd.DataFrame(std_dict)

# Print the output.
print(df)

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18

In [28]:
# Creating a dataframe using a conventional list of lists
# Initialize list of lists 
list_of_lists = [['Tom', 20], ['Nick', 21], ['Krish', 19],['Jack',18]]
  
# Create the pandas DataFrame 
df = pd.DataFrame(list_of_lists, columns = ['Name', 'Age']) 
  
# Print dataframe
df

    Name  Age
0    Tom   20
1   Nick   21
2  Krish   19
3   Jack   18

In [29]:
# Creating dataframe using a list of dictionaries

# Initialise the list of dictionaries
list_of_dicts = [
    {'Name': 'Amar', 'Age': 29, 'City': 'Ahmedabad'},
    {'Name': 'Akbar', 'Age': 35, 'City': 'New Delhi'}]

# Create the DataFrame 
df = pd.DataFrame(list_of_dicts) 

# Print the dataframe
df

    Name  Age       City
0   Amar   29  Ahmedabad
1  Akbar   35  New Delhi

In [32]:
# Creating dataframe using 2-d array

# creating an array using random module
arr = np.random.randint(1, 10, size=(3,5))

# Create the dataframe
df = pd.DataFrame(arr, columns=["A","B","C","D","E"])

print(df)

   A  B  C  D  E
0  5  9  1  7  9
1  5  7  1  1  9
2  1  7  1  8  2

In [34]:
# Reindexing Dataframe by Using reindex method

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['a', 'b', 'c'])
print(df)

   A  B
a  1  4
b  2  5
c  3  6

In [35]:
# Reindex the DataFrame by using reindex method
new_index = ['c', 'a', 'e']
df_reindexed = df.reindex(new_index)

print(df_reindexed)

     A    B
c  3.0  6.0
a  1.0  4.0
e  NaN  NaN

In [66]:
data_frame=pd.read_csv("airlines.csv")
print(pd.DataFrame(df))

     Airport.Code                                       Airport.Name
0             ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1             BOS                    Boston, MA: Logan International
2             BWI  Baltimore, MD: Baltimore/Washington Internatio...
3             CLT     Charlotte, NC: Charlotte Douglas International
4             DCA  Washington, DC: Ronald Reagan Washington National
...           ...                                                ...
4403          SAN             San Diego, CA: San Diego International
4404          SEA          Seattle, WA: Seattle/Tacoma International
4405          SFO     San Francisco, CA: San Francisco International
4406          SLC   Salt Lake City, UT: Salt Lake City International
4407          TPA                     Tampa, FL: Tampa International

[4408 rows x 2 columns]

In [67]:
#using usecols parameter
df = pd.read_csv('airlines.csv',usecols=['Airport.Code','Airport.Name'])
print(df)
#usecols get specific columns

     Airport.Code                                       Airport.Name
0             ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1             BOS                    Boston, MA: Logan International
2             BWI  Baltimore, MD: Baltimore/Washington Internatio...
3             CLT     Charlotte, NC: Charlotte Douglas International
4             DCA  Washington, DC: Ronald Reagan Washington National
...           ...                                                ...
4403          SAN             San Diego, CA: San Diego International
4404          SEA          Seattle, WA: Seattle/Tacoma International
4405          SFO     San Francisco, CA: San Francisco International
4406          SLC   Salt Lake City, UT: Salt Lake City International
4407          TPA                     Tampa, FL: Tampa International

[4408 rows x 2 columns]

In [68]:
# Lets determine the shape of a dataframe
print(data_frame.shape)

(4408, 24)

In [69]:
# Lets print the size of a dataframe
print(data_frame.size)

105792

In [70]:
# Print the number of rows only
print(len(data_frame))

4408

In [71]:
# Print indices of dataframe
print(data_frame.index)

RangeIndex(start=0, stop=4408, step=1)

In [72]:
# Prints the first n rows of the dataframe. 
data_frame.head()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [73]:
# print last rows of Data frame
data_frame.tail()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
4403,SAN,"San Diego, CA: San Diego International",2016/01,1,January,2016,280,397,171,2,...,871,18,5030,6016,15482,23023,6021,79,46206,1601
4404,SEA,"Seattle, WA: Seattle/Tacoma International",2016/01,1,January,2016,357,513,351,2,...,1274,31,8330,9739,25461,32693,11466,73,74017,4324
4405,SFO,"San Francisco, CA: San Francisco International",2016/01,1,January,2016,560,947,2194,2,...,3825,20,8912,13206,43641,72557,153416,66,278610,8930
4406,SLC,"Salt Lake City, UT: Salt Lake City International",2016/01,1,January,2016,338,540,253,3,...,1175,14,7426,8699,32066,33682,8057,57,76978,3116
4407,TPA,"Tampa, FL: Tampa International",2016/01,1,January,2016,410,342,312,2,...,1095,7,4748,5996,22557,21164,11423,37,57774,2593

In [74]:
#prints the basic information about the data
print(data_frame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4408 entries, 0 to 4407
Data columns (total 24 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Airport.Code                                         4408 non-null   object
 1   Airport.Name                                         4408 non-null   object
 2   Time.Label                                           4408 non-null   object
 3   Time.Month                                           4408 non-null   int64
 4   Time.Month Name                                      4408 non-null   object
 5   Time.Year                                            4408 non-null   int64
 6   Statistics.# of Delays.Carrier                       4408 non-null   int64
 7   Statistics.# of Delays.Late Aircraft                 4408 non-null   int64
 8   Statistics.# of Delays.National Aviation System      4408 non-null   int64
 9   Statistics.# of Delays.Security                      4408 non-null   int64
 10  Statistics.# of Delays.Weather                       4408 non-null   int64
 11  Statistics.Carriers.Names                            4408 non-null   object
 12  Statistics.Carriers.Total                            4408 non-null   int64
 13  Statistics.Flights.Cancelled                         4408 non-null   int64
 14  Statistics.Flights.Delayed                           4408 non-null   int64
 15  Statistics.Flights.Diverted                          4408 non-null   int64
 16  Statistics.Flights.On Time                           4408 non-null   int64
 17  Statistics.Flights.Total                             4408 non-null   int64
 18  Statistics.Minutes Delayed.Carrier                   4408 non-null   int64
 19  Statistics.Minutes Delayed.Late Aircraft             4408 non-null   int64
 20  Statistics.Minutes Delayed.National Aviation System  4408 non-null   int64
 21  Statistics.Minutes Delayed.Security                  4408 non-null   int64
 22  Statistics.Minutes Delayed.Total                     4408 non-null   int64
 23  Statistics.Minutes Delayed.Weather                   4408 non-null   int64
dtypes: int64(19), object(5)
memory usage: 826.6+ KB
None

In [76]:
#prints the discriptive information about the data frame
print(data_frame.describe())
#after applying the describe how we can find the outliner availabe in columns

        Time.Month    Time.Year  Statistics.# of Delays.Carrier  \
count  4408.000000  4408.000000                     4408.000000
mean      6.578947  2009.243421                      574.632486
std       3.457890     3.667475                      329.616475
min       1.000000  2003.000000                      112.000000
25%       4.000000  2006.000000                      358.000000
50%       7.000000  2009.000000                      476.000000
75%      10.000000  2012.000000                      692.000000
max      12.000000  2016.000000                     3087.000000

       Statistics.# of Delays.Late Aircraft  \
count                           4408.000000
mean                             789.078947
std                              561.798420
min                               86.000000
25%                              425.000000
50%                              618.500000
75%                              959.000000
max                             4483.000000

       Statistics.# of Delays.National Aviation System  \
count                                      4408.000000
mean                                        954.580309
std                                         921.907801
min                                          61.000000
25%                                         399.000000
50%                                         667.500000
75%                                        1166.000000
max                                        9066.000000

       Statistics.# of Delays.Security  Statistics.# of Delays.Weather  \
count                      4408.000000                     4408.000000
mean                          5.575544                       78.216878
std                           6.007046                       75.181726
min                          -1.000000                        1.000000
25%                           2.000000                       33.000000
50%                           4.000000                       58.000000
75%                           7.000000                       98.000000
max                          94.000000                      812.000000

       Statistics.Carriers.Total  Statistics.Flights.Cancelled  \
count                4408.000000                   4408.000000
mean                   12.253403                    213.558076
std                     2.289861                    288.873477
min                     3.000000                      3.000000
25%                    11.000000                     58.000000
50%                    12.000000                    123.000000
75%                    14.000000                    250.000000
max                    18.000000                   3680.000000

       Statistics.Flights.Delayed  Statistics.Flights.Diverted  \
count                 4408.000000                  4408.000000
mean                  2402.000454                    27.880898
std                   1710.947613                    36.356399
min                    283.000000                     0.000000
25%                   1298.750000                     8.000000
50%                   1899.000000                    15.000000
75%                   2950.000000                    32.000000
max                  13699.000000                   442.000000

       Statistics.Flights.On Time  Statistics.Flights.Total  \
count                 4408.000000               4408.000000
mean                  9254.420826              11897.860254
std                   5337.214211               6861.691876
min                   2003.000000               2533.000000
25%                   5708.750000               7400.000000
50%                   7477.000000               9739.500000
75%                  10991.500000              13842.500000
max                  31468.000000              38241.000000

       Statistics.Minutes Delayed.Carrier  \
count                         4408.000000
mean                         35021.369782
std                          24327.721037
min                           6016.000000
25%                          19530.750000
50%                          27782.000000
75%                          41606.000000
max                         220796.000000

       Statistics.Minutes Delayed.Late Aircraft  \
count                               4408.000000
mean                               49410.274955
std                                38750.017050
min                                 5121.000000
25%                                25084.250000
50%                                37483.000000
75%                                59951.250000
max                               345456.000000

       Statistics.Minutes Delayed.National Aviation System  \
count                                        4408.000000
mean                                        45077.107985
std                                         57636.745683
min                                          2183.000000
25%                                         14389.000000
50%                                         25762.000000
75%                                         50362.000000
max                                        602479.000000

       Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
count                          4408.000000                       4408.000000
mean                            211.769737                     135997.535163
std                             257.174789                     113972.276370
min                               0.000000                      14752.000000
25%                              65.000000                      65444.750000
50%                             141.000000                     100711.000000
75%                             274.000000                     164294.750000
max                            4949.000000                     989367.000000

       Statistics.Minutes Delayed.Weather
count                         4408.000000
mean                          6276.982759
std                           6477.417169
min                             46.000000
25%                           2310.750000
50%                           4298.500000
75%                           7846.000000
max                          76770.000000